.product-div{
    display: flex;
    
   
}

.product-middle-div{
    display: flex;
    align-items: start;
    margin-top: 4.7vw;
    margin-left: 10%;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.product-div :hover{
    color: #227043;
    
}

.product-image{
    display: flex;
    width: 18vw;
}

.product-image img{
    width: 100%;
}


.product-text{
    flex-direction: row;
    margin: 1.6vw;
    font-size: 1.7vw;
    
}

.product-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.retour-div{
    display: flex;
    width: 5vw;
    
}

.panier-div{
    display: flex;
    width: 5vw;

    
}

.retour-img{
    width: 100%;
}

.panier-img{
    width: 100%;
}

.logo-div{
    display: flex;
    margin: 1.5vw;
    justify-content: space-between;
}


.product-detail-div{
    display: flex;
}

.product-detail-image{
    margin: 3vw;
    width: 30vw;
    height: 30vw;
}

.product-title{
    font-size: 3vw;
    color: #000000;
    justify-content: start;
}

.product-price{
    font-size: 2vw;
    color: #000000;
    justify-content: start;
    
}


.product-desc{
    font-size: 1vw;
    color: #000000;
    justify-content: start;
    align-items: start;
    
}

.bouton-panier{
    display: inline-block;
    background-color: #227043;
    border-width: 1;
    border-radius: 1vw;
    align-items: center;
    color: #FFF;
    font-size: 1vw;
    height: 3vw;
    cursor: pointer;
}


.product-info-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.3vw;
    margin-bottom: 3vw;

}
