.titre_vache{
  
    border: 2px solid black;
    border-radius: 10px;
    
}

.grange-general-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flèche{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.cowbutton{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.p-error{
    color: #cc0000;
    font-size: 1.2vw;
}

.image-grange{
    width: 56vw;
}



.grange-elem-div{
    display: flex;
    font-family: 'Josefin Sans';
    background-color: #69a67a;
    justify-content: space-around;
    width: 100%;
    border-radius: 2vw;
    border-width: 1vw;
    border-color: black;
}


.grange-img-div img{
    width: 22vw;
}


.middle-div{
    display: flex;
    font-size: 2vw;
    width: 100%;
}

.dot {
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1vw;
}

.info-div{
    display: flex;
    margin-right: 3vw;
    align-items: center;
    
}



.grange-param{
    margin-right: 3vw;
}

.general-info-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2vw;
}

.grange-elem-wraper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grange-elem{
    display: flex;
    margin: 2vw;
    justify-content: center;
    cursor: pointer;
    width: 65%;
    color: #000000;
    text-decoration: none;
}
.supr-div{
    display: flex;
    align-items: center;
}

.grange-selector{
    width:10%;
    height: 1%;
    font-size: 1vw;
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
    
}


  

