


.titre{
    color: white;
    text-align: center;
    font-size: 2em;
}

.input-elem{
    display: grid;
    grid-template: "a a";
    margin-bottom: 2vw;
    margin-top: 2vw;
    font-size: 2vw;
    
}

.input-elem input{
    margin-left: 1vw;
}



.formulaire{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.general-div{

}
