
body{
    background-color: #B1CFB9;
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
}

.label-title{
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}

.header-title-div{
    display: flex;
    align-items: left;
    width: 60%;
    padding: auto;
}

hr{
    border: none;
    background-color: #000000;
    color: #000000;
    overflow: visible;
    height: 4px;
    margin-top: -2%;
}

.header-background{
    background-image: url("../images/vaches_pres.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 60vw;
}

.logo2{
    width: 15%;
}

.logo2 img{
    margin-top: 12%;
    height: 100%;
    width: 100%;
}

.logo-connect{
    width: 4.5%;
}

.logo-connect img{
    height: 100%;
    width: 100%;
}

.logo-notif{
    width: 5.5%;
}

.logo-notif img{
    height: 100%;
    width: 100%;
}

.footer{
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-right: 10px;
    
    
}

.footer-div{
    margin-top: 4vw;
    background-color: #227043;
    width: auto;
    height: 63px;
}

.footer-text{
    margin-right: 10px;
    font-size: 1.2em;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-text:hover{
    text-decoration:underline;
}

section{
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    
}

.section1{
    margin-top: 30px;
    margin-left: 30px;
}

.botom-section {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    
}

.portrait{
    background-image: url("../images/vachette.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 16vw;
    width: 16vw;
    border-radius: 30px;
}

.conteneur3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.label-title:hover{
    color:#227043;
}
    

.conteneur2{
    display:flex;
    justify-content:center;
    align-items:center;   
    width: 40%;
    
}

.ma-classe {
    color:#227043;
}

body {
    font-family: sans-serif;
    margin: 10; 
}


.general-text{
    margin-left: 50px;
    margin-top: 50px;
    width: 48%;
}

.description-text{
    text-align: justify;
    font-size: 2vw;
    font-family: 'Josefin Sans', sans-serif;
}


.image-vachette{
    width: 38vw;
    height: auto;
    border-radius: 30px;
}

.div-vachette{
    margin-left: 5%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-section{
    display: flex;
}

.middle-section2{
    display: flex;
    height: 550px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.middle-section-div{
    background-image: url("../images/vachette.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vw;
    width: 25vw;
    border-radius: 30px;
}


.middle-section-header{
    display: flex;
    margin-top: 2vw;
    color: white;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    font-size: 1.5em;
}


.middle-section-footer{
    display: flex;
    color: white;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    margin-bottom: 1vw;
}

.portrait-antoine{
    display: flex;
    background-image: url("../images/vachette.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 16vw;
    width: 16vw;
    border-radius: 30px;
    justify-content: center;
    align-items: end;
}

.contacts{
    display: flex;
    align-items: center;
}

.droits{
    align-self: end;
    margin-bottom: 8px;
    margin-right: 8px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
}

.menu :hover{
    border: solid;
    border-width: 0.17vw;
}
  
.menu li {
    display: none;
    margin-top: 5px;
    border: none;
}

.menu h6{
    display: flex;
    text-decoration: none;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
    justify-content: start;
    font-weight: normal;
    margin-block-start: 0px;
    margin-block-end: 0px;

}

.menu:hover div {
    display: block;
    border: solid;
    border-width: 0.17vw;
    margin-top: -2px;
}

.menu:hover li {
    display: block;
    border: none;
}

.menu a{
    color: black;
    text-decoration: none;
    border: none;
   
}
.menu a:hover{
    color: #227043;
    border: none;
}

.dropdown{
    position:absolute;
    border-width: 1px;
    border-color: #000000;
    border: none;
    width: 10.84vw;
}

.dropdown img{
    margin-top: 300px;
}

  

h5{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    color: black;
}







.snip1482 {
    display: flex;
    height: 24.4vw;
    width: 24.5vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    margin: 10px 20px;
    color: #ffffff;
    text-align: right;
    line-height: 1.4em;
    background-color: #227043;
    font-size: 16px;
    border-radius: 30px;
}
.snip1482 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1482 img {
  position: absolute;
  right: 0%;
  top: 50%;
  opacity: 1;
  width: 24.5vw;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.snip1482 figcaption {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 20px 0 20px 20px;
}
.snip1482 h2,
.snip1482 p {
  margin: 0;
  width: 100%;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 0;
}
.snip1482 h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 1.9vw;
}
.snip1482 p {
  font-size: 1.4vw;
}
.snip1482 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1482:hover img,
.snip1482.hover img {
  width: 55%;
  right: -10%;
}
.snip1482:hover figcaption h2,
.snip1482.hover figcaption h2,
.snip1482:hover figcaption p,
.snip1482.hover figcaption p {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

.buttonaj {
    display: inline-block;
    background-color: #227043;
    border-radius: 10px;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
  }
.buttonsup{
    display: inline-block;
    background-color: #F00020;
    border-radius: 10px;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
}

.cowbutton{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.flèche{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.animation_div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

 
}

#left-eye{
    position: absolute;
    pointer-events: none;
    
}

#right-eye{
    position: absolute;
    pointer-events: none;
}


.product-div{
    display: flex;
    
   
}

.product-middle-div{
    display: flex;
    align-items: start;
    margin-top: 4.7vw;
    margin-left: 10%;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.product-div :hover{
    color: #227043;
    
}

.product-image{
    display: flex;
    width: 18vw;
}

.product-image img{
    width: 100%;
}


.product-text{
    flex-direction: row;
    margin: 1.6vw;
    font-size: 1.7vw;
    
}

.product-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.retour-div{
    display: flex;
    width: 5vw;
    
}

.panier-div{
    display: flex;
    width: 5vw;

    
}

.retour-img{
    width: 100%;
}

.panier-img{
    width: 100%;
}

.logo-div{
    display: flex;
    margin: 1.5vw;
    justify-content: space-between;
}


.product-detail-div{
    display: flex;
}

.product-detail-image{
    margin: 3vw;
    width: 30vw;
    height: 30vw;
}

.product-title{
    font-size: 3vw;
    color: #000000;
    justify-content: start;
}

.product-price{
    font-size: 2vw;
    color: #000000;
    justify-content: start;
    
}


.product-desc{
    font-size: 1vw;
    color: #000000;
    justify-content: start;
    align-items: start;
    
}

.bouton-panier{
    display: inline-block;
    background-color: #227043;
    border-width: 1;
    border-radius: 1vw;
    align-items: center;
    color: #FFF;
    font-size: 1vw;
    height: 3vw;
    cursor: pointer;
}


.product-info-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.3vw;
    margin-bottom: 3vw;

}


