body{
    background-color: #E8E8E8;
    margin:0;
}

a{
    text-decoration:none;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}

a:hover{
    color:#227043;
    text-decoration: underline;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;    
    font-size: 1.5em;
}

.ddd{
    background-image: url("images/vaches_prés.jpg");
    background-attachment: fixed;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: auto;
}


footer{
    background-color: #227043;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
}

section{
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    color:#227043;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
}

h2{
    color:black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
}

h3{
    color: darkslategrey;
    font-family: 'Josefin Sans', sans-serif;
    font-size: em;
    text-align: center;
}


.conteneur {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-gap: 10px;
}

.conteneur3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}





.conteneur2{
    display:flex;
    flex-direction: column;  
    
}

.ma-classe {
    color:#227043;
}

body {
    font-family: sans-serif;
    margin: 10; 
}



h1 {
    color: white;
    text-align: center;
}


.conteneur2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: auto;
}

.colliercommande{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.5em;
    background-image: url("images/collier.webp");
    background-position: center;
    background-size: cover;
    height: 400px;
    

}


.deux{
    display: flex;
    background-image: url("images/ezgif.com-gif-maker.gif");
    background-position:center ;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-column-end: 1;
    width: 400px;
    height: 400px;


}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

input{
    padding: 10px;
    border: 1px solid #F9F8FF;
}

input,
textarea {
    padding: 10px;
    border: 1px solid black;
    outline: none;
    margin-bottom: 20px;
    border-radius: 10px;
}
